@import url("reset.css");
@import url(/fonts/FuturaBold/style.css);
@import url(/fonts/FuturaMedium/style.css);
@import url(/fonts/FuturaMedLight/style.css);
b {
  font-family: "FuturaBold";
  font-style: normal;
  font-weight: 700;
}

@-webkit-keyframes animated_text {
  0% {
    background-position: 0px 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0px 50%;
  }
}

@keyframes animated_text {
  0% {
    background-position: 0px 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0px 50%;
  }
}
header {
  height: 1080px;
  background: conic-gradient(from 101.86deg at 44.81% 37.73%, #000AFF 0deg, #000000 153.75deg, #000AFF 360deg);
  border-radius: 0px 0px 50px 50px;
}
header .content {
  max-width: 1512px;
  padding: 60px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}
header .content .wraper_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 572px;
}
header .content .wraper_text .wrap_article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 487px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .content .wraper_text p {
  font-family: "FuturaMedium";
  font-style: normal;
  font-size: 22px;
  line-height: 29px;
  color: #FFFFFF;
  padding: 30px 0 0 0;
}
header .content .wraper_text h1 {
  font-family: "FuturaMedium";
  font-style: normal;
  font-size: 50px;
  line-height: 66px;
  color: #FFFFFF;
}
header .content .wraper_text .wrap_button {
  width: 511px;
  height: 91px;
  background: -webkit-gradient(linear, left top, right top, color-stop(61.46%, #FF0000), to(#000AFF));
  background: linear-gradient(90deg, #FF0000 61.46%, #000AFF 100%);
  -webkit-box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  margin: 38px 0;
  padding: 0 0 0 2px;
}
header .content .wraper_text .wrap_button button {
  width: 433px;
  height: 91px;
  background: -webkit-gradient(linear, left top, right top, color-stop(6.77%, #000AFF), to(#FF0000));
  background: linear-gradient(90deg, #000AFF 6.77%, #FF0000 100%);
  -webkit-box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  border: solid 0px rgba(0, 0, 0, 0);
  font-family: "FuturaMedium";
  font-style: normal;
  font-size: 25px;
  line-height: 33px;
  color: #FFFFFF;
  padding: 0 80px 0 0;
}
header .content .wraper_text .wrap_button button img {
  padding: 0 20px 0 0;
}
header .content .wraper_image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0 30px 0 50px;
}
header .content .wraper_image button {
  width: 382px;
  height: 59px;
  background: rgba(255, 255, 255, 0.05);
  -webkit-box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.25);
          box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.25);
  border-radius: 56px;
  border: solid 0px rgba(0, 0, 0, 0);
  font-family: "FuturaMedium";
  font-style: normal;
  font-size: 20px;
  line-height: 27px;
  color: #FFFFFF;
}
header .content .wraper_image .image {
  max-height: 759px;
  -ms-flex-negative: 10;
      flex-shrink: 10;
}
header .content .wraper_image .image img {
  background-repeat: no-repeat;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
}
header .icon {
  max-width: 100px;
  margin: 0 auto;
  text-align: center;
}
header .icon p {
  font-family: "FuturaBold";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
  margin-top: 5px;
}

main .about {
  width: 100%;
  height: 982px;
  background: conic-gradient(from 180deg at 50% 73.98%, #0029FF 0deg, #00DFFF 71.17deg, #CD57EB 112.5deg, #FF00B8 200.57deg, #7593FF 288.75deg, #0029FF 360deg);
  background-size: cover;
  -webkit-box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.05);
  border-radius: 0 0 100% 100%;
}
main .about .content {
  padding-top: 100px;
  max-width: 1332px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
main .about .content h3 {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-align: center;
  font-family: "FuturaMedium";
  font-weight: 500;
  font-size: 50px;
  font-style: normal;
  line-height: 95%;
  background: linear-gradient(350deg, #FF8EF4 38.78%, #00F0FF 100.91%);
  background-size: 20000%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  animation: animated_text 5s ease-in-out infinite;
  -moz-animation: animated_text 5s ease-in-out infinite;
  -webkit-animation: animated_text 5s ease-in-out infinite;
}
main .about .content h3 b {
  -webkit-text-fill-color: #000000;
}
main .about .content h3:nth-child(1) {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
main .about .content h3:nth-child(1) b {
  -webkit-text-fill-color: #ffffff;
}
main .about .content .content_wraper {
  max-width: 1010px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
main .about .content .content_wraper .video_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
main .about .content .content_wraper .video_wrap .wrap {
  position: relative;
}
main .about .content .content_wraper .video_wrap .wrap img {
  max-width: 220px;
  max-height: 220px;
}
main .about .content .content_wraper .video_wrap .wrap img:nth-child(2) {
  position: absolute;
  right: 93px;
  bottom: 93px;
}
main .about .content .content_wraper .text_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 486px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
main .about .content .content_wraper .text_wrap p {
  margin-top: 50px;
  text-align: center;
  font-family: "FuturaMedium";
  font-style: normal;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #FFFFFF;
}