@import url("reset.css");
@import url(/fonts/FuturaBold/style.css);
@import url(/fonts/FuturaMedium/style.css);
@import url(/fonts/FuturaMedLight/style.css);

header{
    height: 100vh;
    background: conic-gradient(from 101.86deg at 44.81% 37.73%, #000AFF 0deg, #000000 153.75deg, #000AFF 360deg);
    border-radius: 0px 0px 50px 50px;
    .content{
        max-width: 1512px;
        padding: 70px 0 0 0;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        .wraper_text{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            max-width: 572px;
            .wrap_article{
                display: flex;
                max-width: 487px;
                justify-content: space-between;
            }
            p{
                font-family: 'FuturaMedium';
                font-style: normal;
                font-size: 22px;
                line-height: 29px;
                color: #FFFFFF;
                padding: 30px 0 0 0;
            }
            h1{
                font-family: 'FuturaMedium';
                font-style: normal;
                font-size: 50px;
                line-height: 66px;
                color: #FFFFFF;
            }
            .wrap_button{
                width: 511px;
                height: 91px;
                background: linear-gradient(90deg, #FF0000 61.46%, #000AFF 100%);
                box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.25);
                border-radius: 50px;
                margin: 38px 0 ;
                padding: 0 0 0 2px;
                button{
                    width: 433px;
                    height: 91px;
                    background: linear-gradient(90deg, #000AFF 6.77%, #FF0000 100%);
                    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.25);
                    border-radius: 50px;
                    border: solid 0px #00000000;   
                    font-family: 'FuturaMedium';
                    font-style: normal;
                    font-size: 25px;
                    line-height: 33px;
                    color: #FFFFFF;
                    padding: 0 80px 0 0;
                    img{
                        padding: 0 20px 0 0;
                    }
                }
            }
        }
        .wraper_image{
            display: flex;
            flex-direction: column-reverse;
            justify-content: flex-end;
            align-items: flex-end;
            padding-left: 50px;
            button{
                width: 382px;
                height: 59px;   
                background: rgba(255, 255, 255, 0.05);
                box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.25);
                border-radius: 56px;
                border: solid 0px #00000000;  
                font-family: 'FuturaMedium';
                font-style: normal;
                font-size: 20px;
                line-height: 27px;
                color: #FFFFFF; 
            }
            .image{
                height: 759px;
                img{
                    height: 100%;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
        }
        
    }
    .icon{
            max-width: 100px;
            margin: 0 auto;
            text-align: center;
            p{
                font-family: 'FuturaBold';
                font-style: normal;
                font-weight: 700;
                font-size: 15px;
                line-height: 20px;
                color: #FFFFFF;
                margin-top: 5px;

            }
    }
}